body{
    background-color: #000;
    color: #fff;
    font-family: monospace;

    /** Centre les éléments au centre de la page **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#terrain{
    position: relative;
    border-top: 1px solid white; /** Rends la bordure supérieur et inférieure visibles et de couleur blanche. **/
    border-bottom: 1px solid white;
    border-left: 1px solid black;
    border-right: 1px solid black;

    /** Dimension du terrain **/
    width: 800px;
    height: 400px;

}

.tiltHaut {
    border-top-color: rgb(0, 250, 0) !important;
}

.tiltBas {
    border-bottom-color: rgb(0, 250, 0) !important;
}
.tiltGauche {
    border-left-color: rgb(250, 0, 0) !important;
}

.tiltDroite {
    border-right-color: rgb(250, 0, 0) !important;
}

#balle{
    position: absolute;
    top: 50%; /** Mets la balle au centre de l'écran en hauteur **/
    left: 50%; /** Mets la balle au centre de l'écran en largeur **/

    /** Dimension, couleur et arrondi des angles du carré qui devient un cercle (la balle) **/
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
}

.raquette
{
    position: absolute; /**Position de la raquette sur l'axe Y, la postion de la raquette sur l'axe X se fera sur #droite et #gauche**/
    top: 40%;
    

    width: 10px; /**Taille de la Raquette**/
    height: 25%;
}
#droite
{
    right: 1%; /**placé au bord droit**/
    background-color: orange;
}

.tiltRaquetteDroite {
    background-color: white !important;
}

#gauche
{
    left: 1%; /**placé au bord gauche**/
    background-color: aqua;
}

.tiltRaquetteGauche {
    background-color: white !important;
}

#score_barre {
    background-color: #fff;
    position: absolute;
    width: 3px;
    height: 140px;
    top: 10%;
    left: 50%;
    opacity: 0.5;
}

.score
{
    position: absolute;
    top: 15%;
    font-size: 80px;
    opacity: 0.5;
    /**font-family: Arial, Helvetica, sans-serif;**/
}

#sgauche {
    left: 20%;
    color: aqua;
}

#sdroite {
    right: 20%;
    color: orange;
}